@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: url("../public/production\ ID_4990245.gif") fixed center;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "benzin";
  src: url('../public/Benzin\ Extra\ Bold.ttf');
}

@font-face {
  font-family: "gothic";
  src: url('../public/DelaGothicOne-Regular.ttf');
}
